body {
  background: green;
}
/* div {
} */
#card {
  border-radius: 25px;
  width: 350px;
  height: 475px;
  margin: auto;
  margin-top: 70px;
  background: white;
  display: flexbox;
}
#number {
  display: block;
  padding-top: 90px;
  padding-left: 147px;
  font-size: 75px;
}
#suit {
  display: block;
  padding-top: 0px;
  padding-left: 19px;
  font-size: 70px;
}
#suit2 {
  display: block;
  padding-top: 132px;
  padding-left: 292px;
  font-size: 70px;
}
